# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# Build products
build/
DerivedData/
/dist/

# Archives and installers
*.xcarchive
*.ipa
*.pkg
